.slider {
    
    height: 610px;
    overflow: hidden;
    border-radius: 10px;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slides input {
    display: none;
}

.slide {
    width: 20%;
    transition: 0.6s;
    /* border: 2px solid red; */

}

.slide img {
    width: 100%;
    height: 100%;
    /* border: 2px solid red; */

}

.navigation-manual {
    position: absolute;
    width: 100%;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background: #40d3dc;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -20%;
}

#radio3:checked ~ .first {
    margin-left: -40%;
}

#radio4:checked ~ .first {
    margin-left: -60%;
}

.navigation-auto {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: -40px;
}

.navigation-auto div {
    border: 2px solid #40d3dc;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child) {
    margin-right: 40px;
}

.navigation-auto div:hover {
    background: #40d3dc;
}

.text{
    /* font-size: 70px;  */
    /* font-weight: bold; */
    font-family: 'Arial', sans-serif;
    color: white;
    /* border: 2px solid red; */
 


}
/* .text p{
    border: 2px solid red;

} */